<!-- Sidebar -->
<div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" id="sidebar-wrapper" style="width: 250px; height: 100vh;">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold border-bottom">
        <i class="fas fa-tools me-2"></i>SCA
    </div>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/empleados/lista" class="nav-link text-white">
                <i class="fas fa-list-alt me-2"></i>Pasar Asistencia
            </a>
        </li>
        <li>
            <a href="/empleados/permisos" class="nav-link text-white">
                <i class="fas fa-file-alt me-2"></i>Solicitar Permiso
            </a>
        </li>
        <li>
            <a href="/cerrar-sesion" class="nav-link text-white">
                <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
            </a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->
